.footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    font-size: 12px;
}

.footer-content p {
    margin: 3px 0;
}

.footer-content a {
    color: #007bff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}