body{
    z-index: 5000;
}
/*Menu Effect*/
.main-effect {
    display: flex;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #62b287;
    color: white; /* Default font color */
    text-align: left;
    transition: margin-left 0.3s ease;
}

/* .main-effect.collapsed {
    margin-left: 60px;
} */

/* .main-effect.expanded {
    margin-right: 250px;
} */

/* .sidebar-collapsed .menu-item-text,
.sidebar-collapsed .submenu-item-text {
    display: none;
} */

/* .menu-effect {
    background-color: #90c2a7;
} */

.selection-effect {
    background-color: #78c79d;
    color: white;
}

/* .submenu-item-text {
    display: block;
    position: relative;
} */

/* Ensure the submenu items are displayed as a block and positioned correctly */
.submenu-item {
    display: block;
    padding-left: 40px; /* Indent submenu items */
}

.menu-item {
    margin-left: 20px;
}

.menu-icon {
    margin-right: 30px;
}

/* .submenu-item:hover {
    background-color: #78c79d;
    color: white;
} */

/*Panel Button */
.panel-collapsible {
    margin: 10px;
}

.panel-collapsible-button {
    margin-right: 80%;
    background: none;
    border: 0;
    color: white;
    font-size: 20px;
    cursor: pointer; 
    padding-bottom: 16px;
}

/* Account Side Panel Section */
.account-menu {
    background-color: #90c2a7;
    position: relative;
}

.account-menu-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.account-menu-tab, .menu-item {
    transition: transform 0.3s ease;
}

.account-menu-tab.collapsed, .menu-item.collapsed {
    /* transform: translateX(80px);  */
}

/* .account-menu-tab.expanded, .menu-item.expanded {
    transform: translateX(200px); 
} */

.account-menu-tab-image {
    width: 65px;
    height: 65px;
}

.account-menu-tab-name {
    text-align: center;
    padding-bottom: 20px;
}

/* Ensure the submenu items are displayed correctly under the main menu item */
/* .pro-sidebar .pro-menu .pro-menu-item .pro-inner-item .pro-inner-list {
    display: block;
    position: relative;
    left: 0;
    top: 0;
} */